.navbar-header {
  //   background-image: linear-gradient(to bottom, #ABC8D7, #676F13) !important;
    // background-image: linear-gradient(to bottom,  #031c2e, #103554) !important;
    background-image: linear-gradient(to bottom,  #eb4bebb2, #5c1a5cb2) !important;

  //   background-image: linear-gradient(to bottom, #6BA43A, #356746) !important;
 
  }
  .cancelBtn {
      background-color: white;
      color: black;
    }