.auth-full-bg {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  background-size: cover;
  background-position: center;
  width: 100%;
}


/* Logo Section */
.logo-section {
  position: absolute;
  top: 20px; /* Adjust the top margin as needed */
  left: 20px; /* Adjust the left margin as needed */
  z-index: 10;
}


.auth-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(31, 3, 131); /* Optional: To make the footer text more readable */
  color: white;
  padding: 10px 0;
}

.auth-footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-footer .col-md-3 {
  flex: 1;
  text-align: center;
}

.auth-footer .col-md-3 .avatar-md {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-footer .col-md-2 {
  flex: 1;
  text-align: center;
}

.auth-footer h5 {
  font-size: 16px;
  margin-bottom: 15px;
}

.auth-footer ul {
  list-style: none;
  padding: 0;
}

.auth-footer ul li {
  margin-bottom: 10px;
}

.auth-footer ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.auth-footer ul li a:hover {
  color: #f8f9fa;
}
